@import url(https://fonts.googleapis.com/css?family=Tangerine);

h1 {
    font-size: 50px;
    font-family: "Tangerine";
    padding: 20px;
    margin: 0;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: peachpuff;
    background-color: rgb(180, 180, 180);
    text-align: center
}

h2 {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0 0 20px;
    margin: 0;
    font-weight: 600;
    color: black;
    background-color: rgb(180, 180, 180);
}

p {
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0;
    color: rgb(55, 50, 32);
    background-color: rgb(180, 180, 180);
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 250px;
}